.container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.item:nth-last-child(1){
    background-color: rgb(30, 231, 231);
    border: 2px solid rgb(239, 239, 243);
    height: 40px;
    grid-column: 1/1;
    grid-row: 1/1;
}
.item:nth-last-child(2){
    background-color: rgb(30, 231, 231);
    border: 2px solid rgb(239, 239, 243);
    height: 40px;
    grid-column: 2/2;
    grid-row:  1/1;
}

.item:nth-last-child(3){
    background-color: rgb(30, 231, 231);
    border: 2px solid rgb(239, 239, 243);
    height: 40px;
    grid-column: 3/3;
    grid-row: 1/1;
}

.item:nth-last-child(4){
    background-color: rgb(30, 231, 231);
    border: 2px solid rgb(239, 239, 243);
    height: 40px;
    grid-column: 4/4;
    grid-row: 1/1;
}

.item:nth-last-child(5){
    background-color: rgb(30, 231, 231);
    border: 2px solid rgb(239, 239, 243);
    height: 40px;
    grid-column: 5/5;
    grid-row: 1/1;
}
div{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}