.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid: 1px;
    width: 400px;
    margin: auto;
}
.celda{
    background-color: gray;
    color: black;
    text-align: center;
    padding: 20px;
    text-align: center;
    border: 1px solid white;
}
h1{
    text-align: center;
}